.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980;
  background-color: rgb(102, 78, 48);
}

body {
  margin-top: 200;
  width: 1020;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.Juego-Comenzado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.Inicio-de-Juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 10px;
}
