.Juego-Comenzado {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #D4E6F1; 
}

.volverBoton {
  display: flex;
  width: 150px;
  height: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}



.contador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contador-Usuario,
.contador-Oponente {
  font-size: 24px;
}

.contador-Usuario{
  margin-left: 50px;
  margin-right: auto;
  order: 1;
}

.contador-Oponente {
  margin-left: auto; 
  margin-right: 50px ;
  order: 2;
}


.elegir-Opcion {
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px; 
}

.resultado {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 3;
}

.resultado p {
  font-size: 24px;
  animation: fade-in 0.5s ease-in-out forwards;
}


.resultado-empate {
  color: #ff5e00;
}

.resultado-ganador {
  color: green;
}

.resultado-perdedor {
  color: red;
}

.boton-volver-a-jugar {
  background-color: #3498DB;
  color: #fff;
  width: 200px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-volver-a-jugar:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.boton-volver-a-jugar:active {
  transform: translateY(0);
  box-shadow: none;
}



@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.opciones {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .volverBoton {
    width: 100px; 
    height: 100px; 
  }

  .elegir-Opcion {
    margin-left: 20px; 
    margin-right: 20px; 
  }

  .resultado {
    font-size: 14px; 
  }

  .boton-volver-a-jugar {
    width: 150px; 
    font-size: 13px; 
  }
}
