.inicio-de-Juego {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: bisque;
  }
  
  .bienvenido {
    margin-left: 460px;
    font-size: 36px;
    margin-top: 190px;
  }
  
  .button-Comenzar {
    background-color: #4caf50;
    color: #fff;
    width: 250px;
    border: none;
    padding: 15px 30px;
    margin-left: 515px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .button-Comenzar:hover {
    background-color: #45a049;
  }
  