.Juego-Comenzado {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #D4E6F1; 
}

.volverBoton {
  display: flex;
  width: 150px;
  height: 150px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.contador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contador-User,
.contador-Oponente {
  font-size: 24px;
}

.contador-User {
  margin-left: 50px;
  margin-right: auto;
  order: 1;
}

.contador-Oponente {
  margin-left: auto; 
  margin-right: 50px ;
  order: 2;
}


.elegir-Opcion {
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px; 
}

.resultado {
  display: inline;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
}

.boton-volver-a-jugar {
  background-color:#3498DB;
  color: #fff;
  width: 200px;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.boton-volver-a-jugar:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.boton-volver-a-jugar:active {
  transform: translateY(0);
  box-shadow: none;
}

.opciones {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .volverBoton {
    width: 100px; 
    height: 100px; 
  }

  .elegir-Opcion {
    margin-left: 20px; 
    margin-right: 20px; 
  }

  .resultado {
    font-size: 14px; 
  }

  .boton-volver-a-jugar {
    width: 150px; 
    font-size: 13px; 
  }
}
