.inicio-de-Juego {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }
  
  .Bienvenido {
    font-size: 36px;
    text-align: center;
    margin-top: 190px;
  }
  
  .button-Comenzar {
    background-color: #4caf50;
    color: #fff;
    width: 300px;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .button-Comenzar:hover {
    background-color: #45a049;
  }
  